.img {
	height: 150px;
	width: 100%;
}
.house {
	box-shadow: 5px 5px 8px 1px rgb(0, 0, 0);
}
.desc {
	line-height: 10px;
}
.booking-btn {
	border: none;
	background-color: rgb(105, 105, 105);
	border-radius: 5px;
	padding: 5px 15px;
	color: white;
}
.booking-btn:hover {
	background-color: gray;
}
